name: Selenoid Tests Workflow
on:
  push:
    branches:
      - develop

jobs:
  run-selenoid-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Run tests in docker
        run: docker compose up --build --exit-code-from test